@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&family=Montserrat:ital,wght@1,700&family=Open+Sans:wght@300&family=Satisfy&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'MonteCarlo', cursive;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Satisfy', cursive;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link{
  color:black !important;
}
.navbar-brand{
  color:rgb(141, 27, 132) !important;
}


h1{
  font-size:20px !important;
}

.flex-container{
  display: flex !important;
}
.btn{
  background-color:rgb(230, 112, 112) !important;
  color:black !important;
}

select{
  box-shadow: none !important;
  border-color: black !important;

}

.fa-plus{
  color:green !important;
  margin: 5px
}

.fa-minus{
  color:red !important;
  margin: 5px

}

.fa-trash{
  color:red !important;
  margin: 5px

}

input{
  margin-top: 10px !important;
  box-shadow: rgb(172, 24, 147) !important;
}